.CartPage-items {
  margin  : 0;
  padding : 0;
}

.CartPage-items li {
  list-style : none;
}

.CartItem-count {
  border  : 1px solid #ccc;
  padding : 5px 10px;
}

.CartItem-addOne,
.CartItem-removeOne {
  background : #fff;
  border     : 1px solid #ccc;
  padding    : 5px 10px;
}

.CartItem-addOne {
  border-left : none;
}

.CartItem-removeOne {
  border-right : none;
}


